{% extends 'base.html'%}
{% block title %}

{% endblock %}

{% block content %}
 <body>
  <h2>您的房间間安排在17樓1710室{{room}}號房</h2>
  <div class="container">
    <p><b><u>如何取房卡?</u></b><br><br>
        走進1710室後，在櫃檯上的電話旁，1710-{{room}}房卡放在鐵盒裡，請刷卡開門<br>
        進房後請插房卡取電源<br>
        <b style="color:red" > 外出請記住拿房卡呀! </b><br><br>

        <b style="color:red" >*</b> 請在洗澡前約10分鐘打開房間內熱水器預熱，用完請必須關上。（註：洗臉盆只提供冷水）<br><br>

    </p>
    <img src="{{ url_for('static', filename='upload/17img02.jpg') }}" alt="checkin-image01">
  </div>
</body>

<style>
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
p {
  flex: 1;
  margin-right: 10px;
}
img {
  width: 50%;
}
</style>





<!--
進去走廊櫃檯上電話後面鐵盒裡房1710-2房卡，您的房間是2號房，請找2號房，請刷卡開房間門，進去右上方插房卡取電源，出去請記住拿房卡。請在洗澡前約10到15分鐘打開房間內熱水器預熱，用完請必須關上。（注：洗臉盆只提供冷水）退房時間在中午十二點前退房，請把房卡放回取卡處，把房門關上就可以離開了，感謝。
-->

{% endblock %}

{% block button %}
<li><button><a href="javascript:history.back()">上一頁</a></button></li>
<li><button><a href="{{ url_for('complete') }}" >完成入住</a></button></li>

{% endblock %}