{% extends 'base.html'%}
{% block title %}

{% endblock %}

{% block content %}
  <body>
    <h2>您的房間安排在21樓2105室{{room}}號房</h2>
    <div class="container">
    <p><b><u>如何前往您的房間?</u></b><br><br>

        <img src="{{ url_for('static', filename='upload/check02.jpg') }}" alt="checkin-image01"><br>

        <b>方法1:(比較快)</b><br>
        請用左邊電梯上去21樓，出來左邊會看到2105室。<br><br>
        <b>方法2:</b><br>
        請往右走，然後再轉右，前方有3部電梯往下到大堂G，轉乘對面3部(電梯6，7，8號)到21樓，找2105室。<br><br><br>
    </p>

    </div>
  </body>
<style>
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
p {
  flex: 1;
  margin-right: 10px;
}
img {
  width: 100%;
}
</style>

{% endblock %}

{% block button %}
<li><button><a href="javascript:history.back()">上一頁</a></button></li>
<li><button><a href="{{ url_for('checkin' , floor=floor, room=room) }}" >下一頁</a></button></li>


{% endblock %}



<!--
<li><button>LEFT Button</button></li>
<li><button><a href="{{ url_for('checkin', floor=booking.floor , room=booking.room) }}" >下一步</a></button></li>
-->